{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container-fluid p-5 bg-primary text-white text-center">
		<h1>Authentification</h1>
	</div>
	<div class="vh-100 d-flex justify-content-center" style="margin-top: -20px;">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-md-8 col-lg-6">
					<div class="card bg-white">
						<div class="card-body p-5">
							<form method="post" class="mb-3 mt-md-4">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										You are logged in as
										{{ app.user.userIdentifier }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% endif %}

								<h1 class="h3 mb-3 font-weight-normal">Authentification</h1>

								<div class="mb-3">
									<label for="inputEmail" class="form-label ">Adresse Email</label>
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								</div>
								<div class="mb-3">
									<label for="inputPassword" class="form-label ">Mot de passe</label>
									<input type="password" class="form-control" name="password" id="inputPassword" placeholder="*******" autocomplete="current-password" required>
								</div>
								<div class="d-grid">
									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<button class="btn btn-outline-dark" type="submit">
										Se connecter
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
