{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue dans cet outil!!
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="d-flex align-items-center mt-3 vh-100 flex-column">
			<form class="d-flex" method="GET" action="{{ path('app_product_index', {'categ': 'all'}) }}">
				<input class="form-control me-1" type="search" name="filter" placeholder="Saisir le nom du produit" aria-label="Rechercher">
				<button class="btn btn-outline-primary" type="submit">Rechercher</button>
			</form>
		</div>
	</div>
{% endblock %}
