<div class="container">
	<div class="vh-100 d-flex justify-content-center" style="margin-top: -20px;">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-md-8 col-lg-6">
					<div class="card bg-white">
						<div class="card-body p-5">
							{{ form_start(form) }}
							{{ form_row(form.name) }}
							{{ form_row(form.description) }}
							<div>
								<button class="btn btn-block btn-outline-success w-100">
									{{ button_label|default('Enregistrer') }}
								</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
