{% extends 'base.html.twig' %}

{% block title %}Modification Categorie
{% endblock %}

{% block body %}

	<div class="container-fluid p-5 bg-primary text-white text-center">
		<h1>Modification categorie</h1>
	</div>

	{{ include('category/_form.html.twig', {'button_label': 'Enregistrer'}) }}

	<a class="btn btn-sm btn-link" href="{{ path('app_category_index') }}">Retour a la liste</a>

	{{ include('category/_delete_form.html.twig') }}
{% endblock %}
