{% extends 'base.html.twig' %}

{% block title %}
	Liste des categories
{% endblock %}

{% block body %}
	<a class="btn btn-xs btn-link" href="{{ path('app_category_new') }}">Ajouter nouvelle categorie</a>
	<br>
	<hr>
	<br>
	<h2>Liste des categories</h2>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom de la categorie</th>
				<th scope="col">Description de la categorie</th>
				<th scope="col">Nb produits</th>
				<th scope="col">Creation</th>
				<th scope="col">Modification</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>{{ category.description }}</td>
					<td>
						{% if category.id in totalProd['list'] %}
							<a target="_blank" href="{{ path('app_product_index') }}?categ={{ category.id }}" class="btn btn-link">{{ totalProd['data'][category.id] }}</a>
						{% else %}
							<a class="btn btn-default">0</a>
						{% endif %}
					</td>
					<td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ category.modifiedAt ? category.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a class="btn btn-sm btn-outline-success" href="{{ path('app_category_show', {'id': category.id}) }}">
							Afficher
						</a>
						<a class="btn btn-sm btn-primary" href="{{ path('app_category_edit', {'id': category.id}) }}">
							Modifer
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7" class="text-center text-italic">Aucune categorie</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
