{% extends 'base.html.twig' %}

{% block title %}Creation categorie
{% endblock %}

{% block body %}

	<div class="container-fluid p-5 bg-primary text-white text-center">
		<h1>Creation categorie</h1>
	</div>

	{{ include('category/_form.html.twig') }}

	<a class="btn btn-sm btn-link" href="{{ path('app_category_index') }}">Retour a la liste</a>
{% endblock %}
