{% extends 'base.html.twig' %}

{% block title %}
	Details de la categorie
{% endblock %}

{% block body %}
	<br>
	<h1>Details de la categorie</h1>
	<br>

	<table class="table">
		<tbody>
			<tr>
				<th>Nom de la categorie</th>
				<td>{{ category.name }}</td>
			</tr>
			<tr>
				<th>Description de la categorie</th>
				<td>{{ category.description }}</td>
			</tr>
			<tr>
				<th>Creation</th>
				<td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Modification</th>
				<td>{{ category.modifiedAt ? category.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<div class="container text-center d-flex justify-content-center">
		<a class="btn btn-sm btn-link" href="{{ path('app_category_index') }}">Retour a la liste</a>
		&nbsp;&nbsp;&nbsp;
		<a class="btn btn-sm btn-primary" href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
		&nbsp;&nbsp;&nbsp;
		{{ include('category/_delete_form.html.twig') }}
	</div>
{% endblock %}
