{% extends 'base.html.twig' %}

{% block title %}Modification Produit
{% endblock %}

{% block body %}

	<div class="container-fluid p-5 bg-primary text-white text-center">
		<h1>Modification produit</h1>
	</div>

	{{ include('product/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{# <a class="btn btn-sm btn-link" href="{{ path('app_product_index') }}">Retour a la liste</a> #}

	{# {{ include('product/_delete_form.html.twig') }} #}
{% endblock %}
