{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}

	<a class="btn btn-link" href="{{ path('app_product_new') }}">Ajouter nouveau produit</a>
	<br>
	<hr>
	<br>
	<h2>Liste des produits</h2>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom du produit</th>
				<th scope="col">Description du produit</th>
				<th scope="col">Prix</th>
				<th scope="col">Categorie</th>
				<th scope="col">Images</th>
				<th scope="col">Creation</th>
				<th scope="col">Modification</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.price }}</td>
					<td>{{ product.categoryId.name }}</td>
					<td>
						{% if product.images is not empty %}
							<img src="{{ asset(product.images) }}" class="rounded mx-auto d-block" style="max-width: 200px;">
						{% else %}
							<div class="text-center text-italic">
								Aucune image.
							</div>
						{% endif %}
					</td>
					<td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ product.modifiedAt ? product.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a class="btn btn-sm btn-outline-success" href="{{ path('app_product_show', {'id': product.id}) }}">
							Afficher
						</a>
						<a class="btn btn-sm btn-primary" href="{{ path('app_product_edit', {'id': product.id}) }}">
							Modifer
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9" class="text-center">Aucun produit enregistre.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
