{% extends 'base.html.twig' %}

{% block title %}Creation nouveau produit
{% endblock %}

{% block body %}

	<div class="container-fluid p-5 bg-primary text-white text-center">
		<h1>Creation nouveau produit</h1>
	</div>

	{{ include('product/_form.html.twig') }}

	{# <a class="btn btn-sm btn-link" href="{{ path('app_product_index') }}">Retour a la liste</a> #}
{% endblock %}
