{% extends 'base.html.twig' %}

{% block title %}
	Details du produit
{% endblock %}

{% block body %}
	<br>
	<h1>Details du produit</h1>
	<br>

	<table class="table">
		<tbody>
			<tr>
				<th>Nom du produit</th>
				<td>{{ product.name }}</td>
			</tr>
			<tr>
				<th>Description du produit</th>
				<td>{{ product.description }}</td>
			</tr>
			<tr>
				<th>Prix du produit</th>
				<td>{{ product.price }}</td>
			</tr>
			<tr>
				<th>Images</th>
				<td>
					{% if product.images is not empty %}
						<img src="{{ asset(product.images) }}" class="rounded mx-auto d-block" style="max-width: 200px;">
					{% else %}
						<div class="text-center text-italic">
							Aucune image.
						</div>
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Creation</th>
				<td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Modification</th>
				<td>{{ product.modifiedAt ? product.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<div class="container text-center d-flex justify-content-center">
		<a class="btn btn-sm btn-link" href="{{ path('app_product_index') }}">Retour a la liste</a>
		&nbsp;&nbsp;&nbsp;
		<a class="btn btn-sm btn-primary" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>
		&nbsp;&nbsp;&nbsp;
		{{ include('product/_delete_form.html.twig') }}
	</div>
{% endblock %}
