<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Outil de gestion produit
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="d-flex justify-content-center align-items-center">
				<a href="{{ path('app_home') }}" class="col-sm-4 btn btn-block btn-info m-2">
					Tableau de bord
				</a>
				<a href="{{ path('app_category_index') }}" class="col-sm-4 btn btn-block btn-success m-2">
					Gestion des categories
				</a>
				<a href="{{ path('app_product_index') }}" class="col-sm-4 btn btn-block btn-primary m-2">
					Gestion des produits
				</a>
			</div>
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
